body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.MAIN {
  width: 100%;
}

h1 {
  margin: 0;
}

.my-body {
  .modal-frame {
    display: none;
  }
}

.my-body.signin {
  .modal-frame.signin-frame {
    display: block;
  }
}

.my-body.signup {
  .modal-frame.signup-frame {
    display: block;
  }
}

.my-body.recovery {
  .modal-frame.recovery-frame {
    display: block;
  }
}
