body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  // overflow: hidden;
}

* {
  box-sizing: border-box;
}

.my-body {
  position: relative;
  width: 100%;
  height: 100%;
}

.MAIN {
  width: 100%;
}

.index-content {
  width: 100%;
}

.main-wrapper {
  width: 98%;
  max-width: 1220px;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

.my-body {
  .modal-frame {
    display: none;
  }
}

.my-body {
  &.recovery,
  &.signin,
  &.signup {
    .index-content {
      display: none;
    }

    .header-menu-list__link,
    h1 {
      color: white;
    }
  }
}

.my-body.signin {
  .modal-frame.signin-frame {
    display: block;
  }
}

.my-body.signup {
  .modal-frame.signup-frame {
    display: block;
  }
}

.my-body.recovery {
  .modal-frame.recovery-frame {
    display: block;
  }
}
// ===============HEADER

.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  padding: 20px 45px;
}

.header-menu-list {
  padding: 0;
  margin: 0;
  list-style: 0;
  display: flex;
  align-items: center;
}

.header-menu-list {
  list-style: none;
}

.header-menu-list__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.header-menu-list__link {
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.arr-to-bottom-block__wrapper {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 18px;
}

.navigate.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 18px;
  color: #000;
  transform: rotate(-180deg);
  cursor: pointer;
  opacity: 0;
}

.navigate.icon {
  &.icon_one {
    top: -15px;
    animation: opacity 1s infinite;
    // animation-timing-function: linear;
    animation-delay: 13s;
  }

  &.icon_two {
    top: -10px;
    // animation: opacity 2s infinite;
    // animation-timing-function: linear;
    // animation-delay: 2s;
  }

  &.icon_three {}
}
@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.navigate.icon:before {
  content: '';
  position: absolute;
  left: 0;
  top: -17px;
  width: 0;
  height: 0;
  border-top: solid 18px transparent;
  border-bottom: solid 18px currentColor;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}

.navigate.icon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  width: 0;
  height: 0;
  color: white;
  border-top: solid 5px transparent;
  border-bottom: solid 5px currentColor;
  border-left: solid 7px transparent;
  border-right: solid 7px transparent;
}

.navigate.icon i {
  position: absolute;
  width: 10px;
  height: 14px;
  left: 2px;
  top: 3px;
}

.navigate.icon i:before {
  content: '';
  position: absolute;
  left: 0;
  top: -14px;
  width: 0;
  height: 0;
  color: white;
  border-top: solid 14px transparent;
  border-bottom: solid 14px currentColor;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

.navigate.icon i:after {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 0;
  height: 0;
  border-top: solid 4px transparent;
  border-bottom: solid 4px currentColor;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

.arr-to-bottom-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
// ==============SIDE left

.main-container-video-and-svg-mask__center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 518px;
  overflow: hidden;
}

.side-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #F7F7F6;
  box-shadow: 5px 2px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
}
// ==MASK SVG
@font-face {
  font-family: Biko;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/biko-black.woff");
}

.main-container-video-and-svg-mask {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 250px;
  background-color: #f3f4f3;
  overflow: hidden;
}

.main-container-video-and-svg-mask video {
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}

svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
}

svg text {
  font-family: Biko, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.9em;
}

svg text#text-two {
  font-size: 0.5em;
  text-transform: none;
  font-family: 'megrim';
}

svg text#text_one {
  font-size: 0.5em;
  text-transform: none;
  font-family: 'megrim';
}

svg #rect-two {
  fill: whitesmoke;
}

svg rect {
  fill: mintcream;
}

svg > rect {
  -webkit-mask: url("#mask");
  mask: url("#mask");
}
// ===============

.text-info-title {
  width: 100%;
  text-align: center;
}

.section_color-white {
  color: white;
}

.section {
  padding: 50px 0;
}

.section_bgr-light {
  background-color: whitesmoke;
}
